<ng-container *ngIf="type === 'default'">
    <div class="w-16 h-16 relative mx-auto">
        <span class="flex h-16 w-16">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-16 w-16 bg-blue-500"></span>
        </span>
    </div>
</ng-container>
<ng-container *ngIf="type === 'heading'">
    <div class="animate-pulse flex w-full">
        <div class="flex-1 h-11 bg-gray-300"></div>
    </div>
</ng-container>
<ng-container *ngIf="type === 'table'">
    <div class="border border-gray-300 shadow w-full mx-auto">
        <div class="animate-pulse flex space-x-4">
            <div class="flex-1 space-y-4">
                <div>
                    <div class="h-14 border-gray-500 bg-gray-200 border-b-2 border-t-2"></div>
                    <div class="h-14 bg-gray-50 border-gray-200 border-b-2"></div>
                    <div class="h-14"></div>
                    <div class="h-14 bg-gray-50 border-gray-200 border-b-2"></div>
                    <div class="h-14"></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
