<app-card title="Смяна на парола">
    <form [formGroup]="form">
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Текуща парола</mat-label>
            <input formControlName="currentPassword" type="password" name="currentPassword" matInput placeholder="Текуща парола">
            <mat-error *ngIf="currentPassword?.errors">
                <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Нова парола</mat-label>
            <input formControlName="newPassword" type="password" name="newPassword" matInput placeholder="Нова парола">
            <mat-error *ngIf="newPassword?.errors">
                <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Повторете новата парола</mat-label>
            <input formControlName="confirmNewPassword" type="password" name="confirmNewPassword" matInput placeholder="Повторете новата парола">
            <mat-error *ngIf="confirmNewPassword?.errors">
                <ng-template *ngTemplateOutlet="errorMessage; context: { errors: confirmNewPassword.errors}"></ng-template>
            </mat-error>
        </mat-form-field>
        <button class="mt-5" mat-raised-button color="primary" (click)="handleClick(form.value)" type="submit"
            [disabled]="!form.valid">Промяна</button>
    </form>
</app-card>

<ng-template #requiredMessage>
    Полето е <strong>задължително</strong>
</ng-template>
<ng-template #errorMessage let-errors=errors>
    <span *ngIf="errors['NotEqual']; else requiredMessage">Паролите не съвпадата</span>
</ng-template>
