<h1 class="tu-main-title">Възможни опции</h1>

<h2 class="mt-5 mb-0">Редакция на съдържание на страници</h2>
<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let link of pageLinks" (selectedChange)="onLinkClicked(link.link)">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        {{link.name}}
    </mat-list-option>
</mat-selection-list>

<h2 class="mt-10 mb-0">Редакция на типове данни</h2>
<mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let link of contentLinks" (selectedChange)="onLinkClicked(link.link)">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        {{link.name}}
    </mat-list-option>
</mat-selection-list>
