<app-card title="Вход">
    <form #loginForm="ngForm">
        <div class="mb-5">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Потребителско име</mat-label>
                <input #username="ngModel" [(ngModel)]="formDataModel.username" type="text" name="username" matInput placeholder="Потребителско име" required>
                <mat-error *ngIf="username?.errors">
                    <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="mb-5">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Парола</mat-label>
                <input #password="ngModel" [(ngModel)]="formDataModel.password" type="password" name="password" matInput placeholder="Парола" required>
                <mat-error *ngIf="password?.errors">
                    <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="login(loginForm.value)" type="submit" [disabled]="!loginForm.form.valid">Вход</button>
    </form>
    <div class="flex mt-6">
        <p>Нуждаете се от помощ? Пишете ни на <a href="mailto:help@tu-sofia.bg">help@tu-sofia.bg</a></p>
    </div>
</app-card>

<ng-template #requiredMessage>
    Полето е <strong>задължително</strong>
</ng-template>
