<nav class="tu-navbar -sticked">
    <mat-toolbar color="primary">
        <div class="lg:container lg:mx-auto w-full px-5 md:px-7 xl:px-14 h-full flex items-center justify-between">
            <div class="tu-navbar__logo-wrapper">
                <a routerLink="/">
                    <img class="pr-2 max-h-9" src="assets/images/tu-logo-large.png" alt="Technical University of Sofia logo">
                </a>
            </div>
            <div class="ml-auto">
                <ul class="tu-links list-none">
                    <li class="tu-links__item">
                        <a class="tu-links__link" routerLink="/home" routerLinkActive="-active">Начало</a>
                    </li>
                    <li class="tu-links__item">
                        <a class="tu-links__link" routerLink="/news-items" routerLinkActive="-active">Новини</a>
                    </li>
                    <li class="tu-links__item">
                        <a class="tu-links__link" routerLink="/erasmus" routerLinkActive="-active">Еразъм+</a>
                    </li>
                    <li class="tu-links__item">
                        <a class="tu-links__link" routerLink="/partners" routerLinkActive="-active">Партньори</a>
                    </li>
                    <li class="tu-links__item">
                        <a class="tu-links__link" routerLink="/projects" routerLinkActive="-active">Проекти</a>
                    </li>
                    <li class="tu-links__item" routerLinkActive="-active" [routerLinkActiveOptions]="{exact: true}">
                        <div class="flex">
                            <span class="tu-links__link" [matMenuTriggerFor]="mobilityStudents">Мобилност - студенти</span>
                            <mat-icon class="mt-1">arrow_drop_down</mat-icon>
                        </div>
                        <mat-menu #mobilityStudents="matMenu">
                            <a class="tu-links__link" mat-menu-item routerLink="/mobility-students/study-page" routerLinkActive="-active">Мобилност с цел обучение</a>
                            <a class="tu-links__link" mat-menu-item routerLink="/mobility-students/practice-page" routerLinkActive="-active">Мобилност с цел практика</a>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </div>
    </mat-toolbar>
</nav>
