
<ng-container *ngIf="!loading">
    <h1 class="text-4xl" [class.text-center]="!pageData.hideMap">{{pageData.heading}}</h1>

    <ng-container *ngIf="!pageData.hideMap">
        <h2 class="text-center">Нашите партньори</h2>
        <div class="tu-map">
            <div id="svgMap"></div>
            <div class="tu-map__loader" *ngIf="loadingMap">
                <app-loader class="block h-full" type="full"></app-loader>
            </div>
        </div>
    </ng-container>

    <div class="mt-14">
        <h2>{{pageData.subheading}}</h2>
        <div [innerHTML]="pageData.body"></div>
    </div>
</ng-container>

<ng-template #loadingTemplate>
    Loading...
</ng-template>
