<nav class="tu-navbar" [ngClass]="{'-sticked': sticked}">
    <mat-toolbar color="primary">
        <div class="lg:container lg:mx-auto w-full px-5 md:px-7 xl:px-14 h-full flex items-center justify-between">
            <div class="flex">
                <a routerLink="/" class="flex items-center">
                    <img class="pr-2 max-h-9" src="assets/images/tu-logo-small.png" alt="">
                    <span data-apptest="brandName" class="text-black">Erasmus+ Admin</span>
                </a>
            </div>
            <div *ngIf="authService.isLogged" class="flex items-center ml-auto">
                <ul class="tu-links list-none">
                    <li class="tu-links__item">
                        <a routerLink="/">Администратоски панел</a>
                    </li>
                </ul>
                <div class="ml-10" *ngIf="authService.isLogged">
                    <button data-apptest="profileMenu" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <div class="border-0 border-b border-solid mb-1 font-bold text-center text-lg">
                            {{userInfo.user.username}}
                        </div>
                        <a routerLink="/change-password" mat-menu-item>
                            <mat-icon>settings</mat-icon>
                            <span>Смяна на парола</span>
                        </a>
                        <button (click)="logout()" mat-menu-item>
                            <mat-icon>logout</mat-icon>
                            <span>Изход</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-toolbar>
</nav>
