<h1 mat-dialog-title>{{data.label}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Име</mat-label>
            <input formControlName="name" type="text" name="name" matInput placeholder="Име">
            <mat-error *ngIf="name?.errors">
                <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Кратко описание</mat-label>
            <input formControlName="description" type="text" name="description" matInput placeholder="Кратко описание">
            <mat-error *ngIf="description?.errors">
                <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Държава</mat-label>
            <input type="text" placeholder="Държава" matInput formControlName="countryName" name="countryName"
                [matAutocomplete]="countryAutoList" required>
            <mat-autocomplete autoActiveFirstOption #countryAutoList="matAutocomplete">
                <mat-option *ngFor="let country of filteredOptions | async" [value]="country">{{country}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="countryName?.errors">
                <ng-template [ngTemplateOutlet]="requiredMessage"></ng-template>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save(form.value)"
        [disabled]="!form.valid">{{data.label}}</button>
    <button class="ml-5" mat-raised-button (click)="onCancel()">Откажи</button>
</div>

<ng-template #requiredMessage>
    Полето е <strong>задължително</strong>
</ng-template>
