<ng-container *ngIf="!loading; else loadingTmpl">
    <ng-container *ngIf="dataSource.data.length > 0; else noResults">
        <div class="app-table__title flex justify-between items-center py-3 sticky bg-white z-30 border-gray-500 border-b-2">
            <h1 class="mb-0">{{title}}</h1>
            <div class="hidden sm:block">
                <ng-container *ngTemplateOutlet="createButton; context: { label: label }"></ng-container>
            </div>
        </div>

        <button class="sm:hidden fixed bottom-4 right-4 z-10" mat-fab color="accent" title="label" aria-label="label" (click)="createItem()">
            <mat-icon>add</mat-icon>
        </button>
    </ng-container>
</ng-container>

<div [hidden]="loading">
    <table mat-table class="w-full app-table" [class.-loading]="loading">
        <ng-container *ngFor="let dataColumn of dataColumns; let colIndex = index">
            <ng-container matColumnDef="{{dataColumn}}">
                <ng-container *ngIf="dataColumn !== 'actions'">
                    <th mat-header-cell *matHeaderCellDef>{{dataHeaders[colIndex]}}</th>
                    <td mat-cell *matCellDef="let data">
                        <b class="md-lg:hidden">{{dataHeaders[colIndex]}}</b>
                        <div>{{data[dataColumn]}}</div>
                    </td>
                </ng-container>
                <ng-container *ngIf="dataColumn === 'actions'">
                    <th mat-header-cell *matHeaderCellDef class="text-right">{{dataHeaders[colIndex]}}</th>
                    <td mat-cell *matCellDef="let item" class="text-right">
                        <div class="hidden md-lg:block">
                            <ng-container *ngTemplateOutlet="actionsDesktop; context: { item }"></ng-container>
                        </div>
                        <div class="md-lg:hidden flex justify-end w-full">
                            <ng-container *ngTemplateOutlet="actionsMobile; context: { item }"></ng-container>
                        </div>
                    </td>
                </ng-container>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
        <tr mat-row *matRowDef="let item; columns: dataColumns"
            [class.-expanded]="expandedItem === item"
            (click)="expandedItem = expandedItem === item ? null : item">
        </tr>
    </table>

    <div class="app-paginator" [hidden]="loading">
        <mat-paginator #paginator [length]="items.length" [pageIndex]="0" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
        </mat-paginator>
    </div>
</div>

<ng-template #loadingTmpl>
    <app-loader class="block mb-3 mt-3" type="heading"></app-loader>
    <app-loader type="table"></app-loader>
</ng-template>

<ng-template #noResults>
    <div class="md-lg:w-7/12 mx-auto flex flex-col items-center" data-apptest="noResults">
        <h2>Няма налични резултати</h2>
        <ng-container *ngTemplateOutlet="createButton; context: { label: label }"></ng-container>
    </div>
</ng-template>

<ng-template #createButton let-label="label">
    <button mat-raised-button color="primary" (click)="createItem()">
        <mat-icon>add_circle</mat-icon> {{label}}
    </button>
</ng-template>

<ng-template #actionsDesktop let-item="item">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
        <button (click)="updateItem($event, item)" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Редактиране</span>
        </button>
        <button (click)="deleteItem($event, item)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Изтрий</span>
        </button>
    </mat-menu>
</ng-template>

<ng-template #actionsMobile let-item="item">
    <button class="text-center" (click)="updateItem($event, item)" mat-raised-button>
        <mat-icon>edit</mat-icon>
        <span>Редактиране</span>
    </button>
    <button class="text-center ml-4" (click)="deleteItem($event, item)" mat-raised-button>
        <mat-icon>delete</mat-icon>
        <span>Изтрий</span>
    </button>
</ng-template>
